{
  "swagger": "2.0",
  "info": {
    "title": "Open Bank Fabric API Documentation",
    "description": "LTI Open Bank Project API Documentation.",
    
    "version": "v4.0.0"
  },

  "host": "apisandbox.openbankproject.com",
  "basePath": "/",
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "directLogin": {
      "type": "apiKey",
      "description": "https://github.com/OpenBankProject/OBP-API/wiki/Direct-Login",
      "in": "header",
      "name": "Authorization"
    },
    "gatewayLogin": {
      "type": "apiKey",
      "description": "https://github.com/OpenBankProject/OBP-API/wiki/Gateway-Login",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "directLogin": [],
      "gatewayLogin": []
    }
  ],
  "paths": {
    
    "/obp/v4.0.0/banks": {
      "get": {
        "tags": [
          "OBP API"
         
        ],
        "summary": "Get Banks",
        "security": [
          {
            "directLogin": [],
            "gatewayLogin": []
          }
        ],
        "description": "<p>Get banks on this API instance<br />Returns a list of banks supported on this server:</p><ul><li>ID used as parameter in URLs</li><li>Short and full name of bank</li><li>Logo URL</li><li>Website</li></ul>",
        "operationId": "OBPv4.0.0-getBanks",
        "parameters": [],
        "produces": [
					"application/json"
				],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BanksJSON"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUnknownError"
            }
          }
        }
      }
      
    },
    "/getbanks": {
      "get": {
        "tags": [
          "Experience API"
         
        ],
        "summary": "Get Banks",
        "security": [
          {
          }
        ],
        "description": "<p>Get banks on this API instance<br />Returns a list of banks supported on this server:</p><ul><li>ID used as parameter in URLs</li><li>Short and full name of bank</li><li>Logo URL</li><li>Website</li></ul>",
        "operationId": "getBanks",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BanksJSON"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUnknownError"
            }
          }
        }
      }
      
    },
    "/obp/v4.0.0/banks/{BANK_ID}/balances": {
      "get": {
        "tags": [
          "OBP API"
        ],
        "summary": "Get Accounts Balances",
        "security": [
          {
            "directLogin": [],
            "gatewayLogin": []
          }
        ],
        "description": "<p>Get the Balances for the Accounts of the current User at one bank.</p>",
        "operationId": "OBPv3.1.0-getBankAccountsBalances",
        "parameters": [
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountsBalancesV310Json"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUnknownError"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/balances": {
      "get": {
        "tags": [
          "Experience API"
        ],
        "summary": "Get Accounts Balances",
        "security": [
          {
            "directLogin": [],
            "gatewayLogin": []
          }
        ],
        "description": "<p>Get the Balances for the Accounts of the current User at one bank.</p>",
        "operationId": "OBPv3.1.0-getBankAccountsBalances",
        "parameters": [
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountsBalancesV310Json"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUnknownError"
            }
          }
        }
      }
    },
    "/obp/v4.0.0/banks/{BANK_ID}/branches": {
      "get": {
        "tags": [
          "OBP API"
        ],
        "summary": "Get Branches for a Bank",
        "security": [
          {
            "directLogin": [],
            "gatewayLogin": []
          }
        ],
        "description": "<p>Returns information about branches for a single bank specified by BANK_ID including:</p><ul><li>Name</li><li>Address</li><li>Geo Location</li><li>License the data under this endpoint is released under</li><li>Structured opening hours</li><li>Accessible flag</li><li>Branch Type</li><li>More Info</li></ul><p>Pagination:</p><p>By default, 50 records are returned.</p><p>You can use the url query parameters <em>limit</em> and <em>offset</em> for pagination<br />You can also use the follow url query parameters:</p><ul><li><p>city - string, find Branches those in this city, optional</p></li><li><p>withinMetersOf - number, find Branches within given meters distance, optional</p></li><li>nearLatitude - number, a position of latitude value, cooperate with withMetersOf do query filter, optional</li><li>nearLongitude - number, a position of longitude value, cooperate with withMetersOf do query filter, optional</li></ul><p>note: withinMetersOf, nearLatitude and nearLongitude either all empty or all have value.</p><p>Authentication is Optional</p>",
        "operationId": "OBPv3.0.0-getBranches",
        "parameters": [
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BranchesJsonV300"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/branches": {
      "get": {
        "tags": [
          "Experience API"
        ],
        "summary": "Get Branches for a Bank",
        "security": [
          {
          
          }
        ],
        "description": "<p>Returns information about branches for a single bank specified by BANK_ID including:</p><ul><li>Name</li><li>Address</li><li>Geo Location</li><li>License the data under this endpoint is released under</li><li>Structured opening hours</li><li>Accessible flag</li><li>Branch Type</li><li>More Info</li></ul><p>Pagination:</p><p>By default, 50 records are returned.</p><p>You can use the url query parameters <em>limit</em> and <em>offset</em> for pagination<br />You can also use the follow url query parameters:</p><ul><li><p>city - string, find Branches those in this city, optional</p></li><li><p>withinMetersOf - number, find Branches within given meters distance, optional</p></li><li>nearLatitude - number, a position of latitude value, cooperate with withMetersOf do query filter, optional</li><li>nearLongitude - number, a position of longitude value, cooperate with withMetersOf do query filter, optional</li></ul><p>note: withinMetersOf, nearLatitude and nearLongitude either all empty or all have value.</p><p>Authentication is Optional</p>",
        "operationId": "OBPv3.0.0-getBranches",
        "parameters": [
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BranchesJsonV300"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    },
    "/obp/v4.0.0/banks/{BANK_ID}/accounts": {
      "get": {
        "tags": [
          "OBP API"
        ],
        "summary": "Get Accounts at Bank.",
        "security": [
          {
            "directLogin": [],
            "gatewayLogin": []
          }
        ],
        "description": "<p>Returns the list of accounts at BANK_ID that the user has access to.<br />For each account the API returns the account ID and the views available to the user..<br />Each account must have at least one private View.</p><p>optional request parameters:</p><ul><li>account_type_filter: one or many accountType value, split by comma</li><li>account_type_filter_operation: the filter type of account_type_filter, value must be INCLUDE or EXCLUDE</li></ul><p>whole url example:<br />/banks/BANK_ID/accounts?account_type_filter=330,CURRENT+PLUS&amp;account_type_filter_operation=INCLUDE</p><p>Authentication is Mandatory</p>",
        "operationId": "OBPv2.0.0-getPrivateAccountsAtOneBank",
        "parameters": [
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BasicAccountsJSON"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorBankNotFound"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/accounts": {
      "get": {
        "tags": [
          "Experience API"
        ],
        "summary": "Get Accounts at Bank.",
        "security": [
          {
          }
        ],
        "description": "<p>Returns the list of accounts at BANK_ID that the user has access to.<br />For each account the API returns the account ID and the views available to the user..<br />Each account must have at least one private View.</p><p>optional request parameters:</p><ul><li>account_type_filter: one or many accountType value, split by comma</li><li>account_type_filter_operation: the filter type of account_type_filter, value must be INCLUDE or EXCLUDE</li></ul><p>whole url example:<br />/banks/BANK_ID/accounts?account_type_filter=330,CURRENT+PLUS&amp;account_type_filter_operation=INCLUDE</p><p>Authentication is Mandatory</p>",
        "operationId": "OBPv2.0.0-getPrivateAccountsAtOneBank",
        "parameters": [
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BasicAccountsJSON"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorBankNotFound"
            }
          }
        }
      }
    },
    "/obp/v4.0.0/banks/{BANK_ID}/atms": {
      "get": {
        "tags": [
          "OBP API"
        ],
        "summary": "Get Bank ATMS",
        "security": [
          {
            "directLogin": [],
            "gatewayLogin": []
          }
        ],
        "description": "<p>Returns information about ATMs for a single bank specified by BANK_ID including:</p><ul><li>Address</li><li>Geo Location</li><li>License the data under this endpoint is released under</li></ul><p>Pagination:</p><p>By default, 100 records are returned.</p><p>You can use the url query parameters <em>limit</em> and <em>offset</em> for pagination</p><p>Authentication is Optional</p>",
        "operationId": "OBPv3.0.0-getAtms",
        "parameters": [
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AtmJsonV300"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/atms": {
      "get": {
        "tags": [
          "Experience API"
        ],
        "summary": "Get Bank ATMS",
        "security": [
          {
          
          }
        ],
        "description": "<p>Returns information about ATMs for a single bank specified by BANK_ID including:</p><ul><li>Address</li><li>Geo Location</li><li>License the data under this endpoint is released under</li></ul><p>Pagination:</p><p>By default, 100 records are returned.</p><p>You can use the url query parameters <em>limit</em> and <em>offset</em> for pagination</p><p>Authentication is Optional</p>",
        "operationId": "getAtms",
        "parameters": [
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AtmJsonV300"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    },
    "/obp/v4.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types/ACCOUNT/transaction-requests": {
      "post": {
        "tags": [
          "OBP API"
        ],
        "summary": "Create Transaction Request (ACCOUNT)",
        "security": [
          {
            "directLogin": [],
            "gatewayLogin": []
          }
        ],
        "description": "<p>When using ACCOUNT, the payee is set in the request body.</p><p>Money goes into the BANK_ID and ACCOUNT_ID specified in the request body.</p><p>Initiate a Payment via creating a Transaction Request.</p><p>In OBP, a <code>transaction request</code> may or may not result in a <code>transaction</code>. However, a <code>transaction</code> only has one possible state: completed.</p><p>A <code>Transaction Request</code> can have one of several states.</p><p><code>Transactions</code> are modeled on items in a bank statement that represent the movement of money.</p><p><code>Transaction Requests</code> are requests to move money which may or may not succeeed and thus result in a <code>Transaction</code>.</p><p>A <code>Transaction Request</code> might create a security challenge that needs to be answered before the <code>Transaction Request</code> proceeds.</p><p>Transaction Requests contain charge information giving the client the opportunity to proceed or not (as long as the challenge level is appropriate).</p><p>Transaction Requests can have one of several Transaction Request Types which expect different bodies. The escaped body is returned in the details key of the GET response.<br />This provides some commonality and one URL for many different payment or transfer types with enough flexibility to validate them differently.</p><p>The payer is set in the URL. Money comes out of the BANK_ID and ACCOUNT_ID specified in the URL.</p><p>In sandbox mode, TRANSACTION_REQUEST_TYPE is commonly set to ACCOUNT. See getTransactionRequestTypesSupportedByBank for all supported types.</p><p>In sandbox mode, if the amount is less than 1000 EUR (any currency, unless it is set differently on this server), the transaction request will create a transaction without a challenge, else the Transaction Request will be set to INITIALISED and a challenge will need to be answered.</p><p>If a challenge is created you must answer it using Answer Transaction Request Challenge before the Transaction is created.</p><p>You can transfer between different currency accounts. (new in 2.0.0). The currency in body must match the sending account.</p><p>The following static FX rates are available in sandbox mode:</p><p><a href=\"https://apiexplorer.openbankproject.com/more?version=OBPv4.0.0&amp;list-all-banks=false&amp;core=&amp;psd2=&amp;obwg=#OBPv2_2_0-getCurrentFxRate\">https://apiexplorer.openbankproject.com/more?version=OBPv4.0.0&amp;list-all-banks=false&amp;core=&amp;psd2=&amp;obwg=#OBPv2_2_0-getCurrentFxRate</a></p><p>Transaction Requests satisfy PSD2 requirements thus:</p><p>1) A transaction can be initiated by a third party application.</p><p>2) The customer is informed of the charge that will incurred.</p><p>3) The call supports delegated authentication (OAuth)</p><p>See <a href=\"https://github.com/OpenBankProject/Hello-OBP-DirectLogin-Python/blob/master/hello_payments.py\">this python code</a> for a complete example of this flow.</p><p>There is further documentation <a href=\"https://github.com/OpenBankProject/OBP-API/wiki/Transaction-Requests\">here</a></p><p>Authentication is Mandatory</p>",
        "operationId": "OBPv4.0.0-createTransactionRequestAccount",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "TransactionRequestBodyJsonV200 object that needs to be added ",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionRequestBodyJsonV200"
            }
          },
          {
            "in": "path",
            "name": "VIEW_ID",
            "description": "The view id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ACCOUNT_ID",
            "description": "The account id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TransactionRequestWithChargeJSON210"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    },
    "banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types/ACCOUNT/transaction-requests": {
      "post": {
        "tags": [
          "Experience API"
        ],
        "summary": "Create Transaction Request (ACCOUNT)",
        "security": [
          {
           
          }
        ],
        "description": "<p>When using ACCOUNT, the payee is set in the request body.</p><p>Money goes into the BANK_ID and ACCOUNT_ID specified in the request body.</p><p>Initiate a Payment via creating a Transaction Request.</p><p>In OBP, a <code>transaction request</code> may or may not result in a <code>transaction</code>. However, a <code>transaction</code> only has one possible state: completed.</p><p>A <code>Transaction Request</code> can have one of several states.</p><p><code>Transactions</code> are modeled on items in a bank statement that represent the movement of money.</p><p><code>Transaction Requests</code> are requests to move money which may or may not succeeed and thus result in a <code>Transaction</code>.</p><p>A <code>Transaction Request</code> might create a security challenge that needs to be answered before the <code>Transaction Request</code> proceeds.</p><p>Transaction Requests contain charge information giving the client the opportunity to proceed or not (as long as the challenge level is appropriate).</p><p>Transaction Requests can have one of several Transaction Request Types which expect different bodies. The escaped body is returned in the details key of the GET response.<br />This provides some commonality and one URL for many different payment or transfer types with enough flexibility to validate them differently.</p><p>The payer is set in the URL. Money comes out of the BANK_ID and ACCOUNT_ID specified in the URL.</p><p>In sandbox mode, TRANSACTION_REQUEST_TYPE is commonly set to ACCOUNT. See getTransactionRequestTypesSupportedByBank for all supported types.</p><p>In sandbox mode, if the amount is less than 1000 EUR (any currency, unless it is set differently on this server), the transaction request will create a transaction without a challenge, else the Transaction Request will be set to INITIALISED and a challenge will need to be answered.</p><p>If a challenge is created you must answer it using Answer Transaction Request Challenge before the Transaction is created.</p><p>You can transfer between different currency accounts. (new in 2.0.0). The currency in body must match the sending account.</p><p>The following static FX rates are available in sandbox mode:</p><p><a href=\"https://apiexplorer.openbankproject.com/more?version=OBPv4.0.0&amp;list-all-banks=false&amp;core=&amp;psd2=&amp;obwg=#OBPv2_2_0-getCurrentFxRate\">https://apiexplorer.openbankproject.com/more?version=OBPv4.0.0&amp;list-all-banks=false&amp;core=&amp;psd2=&amp;obwg=#OBPv2_2_0-getCurrentFxRate</a></p><p>Transaction Requests satisfy PSD2 requirements thus:</p><p>1) A transaction can be initiated by a third party application.</p><p>2) The customer is informed of the charge that will incurred.</p><p>3) The call supports delegated authentication (OAuth)</p><p>See <a href=\"https://github.com/OpenBankProject/Hello-OBP-DirectLogin-Python/blob/master/hello_payments.py\">this python code</a> for a complete example of this flow.</p><p>There is further documentation <a href=\"https://github.com/OpenBankProject/OBP-API/wiki/Transaction-Requests\">here</a></p><p>Authentication is Mandatory</p>",
        "operationId": "OBPv4.0.0-createTransactionRequestAccount",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "TransactionRequestBodyJsonV200 object that needs to be added ",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionRequestBodyJsonV200"
            }
          },
          {
            "in": "path",
            "name": "VIEW_ID",
            "description": "The view id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ACCOUNT_ID",
            "description": "The account id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TransactionRequestWithChargeJSON210"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    },
    "/obp/v4.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types": {
      "get": {
        "tags": [
          "OBP API"
        ],
        "summary": "Get Transaction Request Types for Account",
        "security": [
          {
            "directLogin": [],
            "gatewayLogin": []
          }
        ],
        "description": "<p>Returns the Transation Request Types that the account specified by ACCOUNT_ID and view specified by VIEW_ID has access to.</p><p>These are the ways this API Server can create a Transaction via a Transaction Request<br />(as opposed to Transaction Types which include external types too e.g. for Transactions created by core banking etc.)</p><p>A Transaction Request Type internally determines:</p><ul><li>the required Transaction Request &lsquo;body&rsquo; i.e. fields that define the &lsquo;what&rsquo; and &lsquo;to&rsquo; of a Transaction Request,</li><li>the type of security challenge that may be be raised before the Transaction Request proceeds, and</li><li>the threshold of that challenge.</li></ul><p>For instance in a &lsquo;SANDBOX_TAN&rsquo; Transaction Request, for amounts over 1000 currency units, the user must supply a positive integer to complete the Transaction Request and create a Transaction.</p><p>This approach aims to provide only one endpoint for initiating transactions, and one that handles challenges, whilst still allowing flexibility with the payload and internal logic.</p>",
        "operationId": "OBPv1.4.0-getTransactionRequestTypes",
        "parameters": [
          {
            "in": "path",
            "name": "VIEW_ID",
            "description": "The view id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ACCOUNT_ID",
            "description": "The account id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TransactionRequestTypesJsonV140"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    },
    "/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types": {
      "get": {
        "tags": [
          "Experience API"
        ],
        "summary": "Get Transaction Request Types for Account",
        "security": [
          {
          
          }
        ],
        "description": "<p>Returns the Transation Request Types that the account specified by ACCOUNT_ID and view specified by VIEW_ID has access to.</p><p>These are the ways this API Server can create a Transaction via a Transaction Request<br />(as opposed to Transaction Types which include external types too e.g. for Transactions created by core banking etc.)</p><p>A Transaction Request Type internally determines:</p><ul><li>the required Transaction Request &lsquo;body&rsquo; i.e. fields that define the &lsquo;what&rsquo; and &lsquo;to&rsquo; of a Transaction Request,</li><li>the type of security challenge that may be be raised before the Transaction Request proceeds, and</li><li>the threshold of that challenge.</li></ul><p>For instance in a &lsquo;SANDBOX_TAN&rsquo; Transaction Request, for amounts over 1000 currency units, the user must supply a positive integer to complete the Transaction Request and create a Transaction.</p><p>This approach aims to provide only one endpoint for initiating transactions, and one that handles challenges, whilst still allowing flexibility with the payload and internal logic.</p>",
        "operationId": "OBPv1.4.0-getTransactionRequestTypes",
        "parameters": [
          {
            "in": "path",
            "name": "VIEW_ID",
            "description": "The view id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ACCOUNT_ID",
            "description": "The account id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "BANK_ID",
            "description": "The bank id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TransactionRequestTypesJsonV140"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorUserNotLoggedIn"
            }
          }
        }
      }
    }
    
  },
  
  "definitions": {
    "ErrorDataImportDisabled": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00002: Data import is disabled for this API instance."
        }
      }
    },
    "ErrorTransactionDisabled": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00003: Transaction Requests is disabled in this API instance."
        }
      }
    },
    "ErrorServerAddDataError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00004: Server error: could not add message"
        }
      }
    },
    "ErrorFirehoseViewsNotAllowedOnThisInstance": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-00009: Firehose views not allowed on this instance. Please set allow_firehose_views = true in props files. "
        }
      }
    },
    "ErrorInvalidJsonFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10001: Incorrect json format."
        }
      }
    },
    "ErrorInvalidNumber": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10002: Invalid Number. Could not convert value to a number."
        }
      }
    },
    "ErrorInvalidISOCurrencyCode": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10003: Invalid Currency Value. It should be three letters ISO Currency Code. "
        }
      }
    },
    "ErrorFXCurrencyCodeCombinationsNotSupported": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10004: ISO Currency code combination not supported for FX. Please modify the FROM_CURRENCY_CODE or TO_CURRENCY_CODE. "
        }
      }
    },
    "ErrorInvalidDateFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10005: Invalid Date Format. Could not convert value to a Date."
        }
      }
    },
    "ErrorIncorrectRoleName": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10007: Incorrect Role name: "
        }
      }
    },
    "ErrorAllowedValuesAre": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10015: Allowed values are: "
        }
      }
    },
    "ErrorInvalidFilterParameterFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10016: Incorrect filter Parameters in URL. "
        }
      }
    },
    "ErrorInvalidUrl": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10017: Incorrect URL Format. "
        }
      }
    },
    "ErrorFilterSortDirectionError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10023: obp_sort_direction parameter can only take two values: DESC or ASC!"
        }
      }
    },
    "ErrorFilterOffersetError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10024: wrong value for obp_offset parameter. Please send a positive integer (=>0)!"
        }
      }
    },
    "ErrorFilterLimitError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10025: wrong value for obp_limit parameter. Please send a positive integer (=>1)!"
        }
      }
    },
    "ErrorFilterDateFormatError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-10026: Failed to parse date string. Please use this format yyyy-MM-dd'T'HH:mm:ss.SSS'Z'!"
        }
      }
    },
    "ErrorUserNotLoggedIn": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20001: User not logged in. Authentication is required!"
        }
      }
    },
    "ErrorUserNotFoundById": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20005: User not found. Please specify a valid value for USER_ID."
        }
      }
    },
    "ErrorUserHasMissingRoles": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20006: User is missing one or more roles: "
        }
      }
    },
    "ErrorUserNotFoundByEmail": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20007: User not found by email."
        }
      }
    },
    "ErrorInvalidConsumerId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20014: Invalid Consumer ID. Please specify a valid value for CONSUMER_ID."
        }
      }
    },
    "ErrorUserNoPermissionAccessView": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20017: Current user does not have access to the view. Please specify a valid value for VIEW_ID."
        }
      }
    },
    "ErrorUserNoOwnerView": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20019: User does not have access to owner view. "
        }
      }
    },
    "ErrorConsumerNotFoundById": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20024: Consumer not found. Please specify a valid value for CONSUMER_ID."
        }
      }
    },
    "ErrorUserNotFoundByUsername": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20027: User not found by username."
        }
      }
    },
    "ErrorUserNotSuperAdmin": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20050: Current User is not a Super Admin!"
        }
      }
    },
    "ErrorInvalidAmount": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20054: Invalid amount. Please specify a valid value for amount."
        }
      }
    },
    "ErrorUserNotFoundByUserId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-20057: User not found by userId."
        }
      }
    },
    "ErrorBankNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30001: Bank not found. Please specify a valid value for BANK_ID."
        }
      }
    },
    "ErrorCustomerNotFoundByCustomerId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30046: Customer not found. Please specify a valid value for CUSTOMER_ID."
        }
      }
    },
    "ErrorAccountNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30003: Account not found. Please specify a valid value for ACCOUNT_ID."
        }
      }
    },
    "ErrorViewNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30005: View not found for Account. Please specify a valid value for VIEW_ID"
        }
      }
    },
    "ErrorCustomerNumberAlreadyExists": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30006: Customer Number already exists. Please specify a different value for BANK_ID or CUSTOMER_NUMBER."
        }
      }
    },
    "ErrorCustomerAlreadyExistsForUser": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30007: The User is already linked to a Customer at the bank specified by BANK_ID"
        }
      }
    },
    "ErrorUserCustomerLinksNotFoundForUser": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30008: User Customer Link not found by USER_ID"
        }
      }
    },
    "ErrorAtmNotFoundByAtmId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30009: ATM not found. Please specify a valid value for ATM_ID."
        }
      }
    },
    "ErrorProductNotFoundByProductCode": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30011: Product not found. Please specify a valid value for PRODUCT_CODE."
        }
      }
    },
    "ErrorCounterpartyAlreadyExists": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30014: Counterparty already exists. Please specify a different value for BANK_ID or ACCOUNT_ID or VIEW_ID or NAME."
        }
      }
    },
    "ErrorCounterpartyNotFoundByCounterpartyId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30017: Counterparty not found. Please specify a valid value for COUNTERPARTY_ID."
        }
      }
    },
    "ErrorBankAccountNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30018: Bank Account not found. Please specify valid values for BANK_ID and ACCOUNT_ID. "
        }
      }
    },
    "ErrorConsumerNotFoundByConsumerId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30019: Consumer not found. Please specify a valid value for CONSUMER_ID."
        }
      }
    },
    "ErrorNoViewPermission": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30022: The current view does not have the permission: "
        }
      }
    },
    "ErrorUpdateConsumerError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30023: Cannot update Consumer "
        }
      }
    },
    "ErrorCreateConsumerError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30024: Could not create Consumer "
        }
      }
    },
    "ErrorCreateUserCustomerLinksError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30025: Could not create user_customer_links "
        }
      }
    },
    "ErrorGetTopApisError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30042: Could not get the top apis from database.  "
        }
      }
    },
    "ErrorGetMetricsTopConsumersError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30045: Could not get the top consumers from database.  "
        }
      }
    },
    "ErrorCreateUserAuthContextError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30053: Could not insert the UserAuthContext"
        }
      }
    },
    "ErrorMeetingNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30104: Meeting not found."
        }
      }
    },
    "ErrorInvalidAccountBalanceCurrency": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30105: Invalid Balance Currency."
        }
      }
    },
    "ErrorInvalidAccountBalanceAmount": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30106: Invalid Balance Amount."
        }
      }
    },
    "ErrorInvalidUserId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30107: Invalid User Id."
        }
      }
    },
    "ErrorInitialBalanceMustBeZero": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30109: Initial Balance of Account must be Zero (0)."
        }
      }
    },
    "ErrorInvalidAccountIdFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30110: Invalid Account Id. The ACCOUNT_ID should only contain 0-9/a-z/A-Z/'-'/'.'/'_', the length should be smaller than 255."
        }
      }
    },
    "ErrorInvalidBankIdFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30111: Invalid Bank Id. The BANK_ID should only contain 0-9/a-z/A-Z/'-'/'.'/'_', the length should be smaller than 255."
        }
      }
    },
    "ErrorInvalidAccountInitialBalance": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30112: Invalid Number. Initial balance must be a number, e.g 1000.00"
        }
      }
    },
    "ErrorEntitlementIsBankRole": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30205: This entitlement is a Bank Role. Please set bank_id to a valid bank id."
        }
      }
    },
    "ErrorEntitlementIsSystemRole": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30206: This entitlement is a System Role. Please set bank_id to empty string."
        }
      }
    },
    "ErrorInvalidStrongPasswordFormat": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30207: Invalid Password Format. Your password should EITHER be at least 10 characters long and contain mixed numbers and both upper and lower case letters and at least one special character, OR be longer than 16 characters."
        }
      }
    },
    "ErrorAccountIdAlreadyExists": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30208: Account_ID already exists at the Bank."
        }
      }
    },
    "ErrorInsufficientAuthorisationToCreateBranch": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30209: Insufficient authorisation to Create Branch. You do not have the role CanCreateBranch."
        }
      }
    },
    "ErrorInsufficientAuthorisationToDeleteBranch": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30218: Insufficient authorisation to Create Branch. You do not have the role CanCreateBranch."
        }
      }
    },
    "ErrorInsufficientAuthorisationToCreateBank": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30210: Insufficient authorisation to Create Bank. You do not have the role CanCreateBank."
        }
      }
    },
    "ErrorEntitlementNotFound": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30212: EntitlementId not found"
        }
      }
    },
    "ErrorEntitlementRequestAlreadyExists": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30214: Entitlement Request already exists for the user."
        }
      }
    },
    "ErrorEntitlementRequestCannotBeAdded": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30217: Entitlement Request cannot be added."
        }
      }
    },
    "ErrorEntitlementAlreadyExists": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-30216: Entitlement already exists for the user."
        }
      }
    },
    "ErrorInvalidTransactionRequestType": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40001: Invalid value for TRANSACTION_REQUEST_TYPE"
        }
      }
    },
    "ErrorInsufficientAuthorisationToCreateTransactionRequest": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40002: Insufficient authorisation to create TransactionRequest. The Transaction Request could not be created because you don't have access to the owner view of the from account or you don't have access to canCreateAnyTransactionRequest."
        }
      }
    },
    "ErrorInvalidTransactionRequestCurrency": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40003: Transaction Request Currency must be the same as From Account Currency."
        }
      }
    },
    "ErrorInsufficientAuthorisationToCreateTransactionType": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40005: Insufficient authorisation to Create Transaction Type offered by the bank. The Request could not be created because you don't have access to CanCreateTransactionType."
        }
      }
    },
    "ErrorNotPositiveAmount": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40008: Can't send a payment with a value of 0 or less."
        }
      }
    },
    "ErrorTransactionRequestTypeHasChanged": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40009: The TRANSACTION_REQUEST_TYPE has changed."
        }
      }
    },
    "ErrorInvalidTransactionRequesChallengeId": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40010: Invalid Challenge Id. Please specify a valid value for CHALLENGE_ID."
        }
      }
    },
    "ErrorTransactionRequestStatusNotInitiated": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40011: Transaction Request Status is not INITIATED."
        }
      }
    },
    "ErrorAllowedAttemptsUsedUp": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40014: Sorry, you've used up your allowed attempts. "
        }
      }
    },
    "ErrorTransactionRequestsNotEnabled": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-40018: Sorry, Transaction Requests are not enabled in this API instance."
        }
      }
    },
    "ErrorUnknownError": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50000: Unknown Error."
        }
      }
    },
    "ErrorInvalidConnectorResponse": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50200: Connector cannot return the data we requested."
        }
      }
    },
    "ErrorInvalidConnectorResponseForGetCheckbookOrdersFuture": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50211: Connector did not return the set of check book."
        }
      }
    },
    "ErrorInvalidConnectorResponseForGetStatusOfCreditCardOrderFuture": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-50212: Connector did not return the set of status of credit card."
        }
      }
    },
    "ErrorGetTransactionRequestsException": {
      "properties": {
        "message": {
          "type": "string",
          "example": "OBP-60010: Get Transaction Requests Exception. "
        }
      }
    },
    "ProductAttributeResponseWithoutBankIdJson": {
      "required": [
        "name",
        "product_attribute_id",
        "product_code",
        "type",
        "value"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "OVERDRAFT_START_DATE"
        },
        "product_attribute_id": {
          "type": "string",
          "example": "613c83ea-80f9-4560-8404-b9cd4ec42a7f"
        },
        "product_code": {
          "type": "string",
          "example": "saving1"
        },
        "type": {
          "type": "string",
          "example": "DATE_WITH_DAY"
        },
        "value": {
          "type": "string",
          "example": "2012-04-23"
        }
      }
    },
    "AkkaJSON": {
      "required": [
        "ports",
        "log_level"
      ],
      "properties": {
        "ports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PortJSON"
          }
        },
        "log_level": {
          "type": "string",
          "example": "Debug"
        },
        "remote_data_secret_matched": {
          "type": "boolean",
          "example": "true"
        }
      }
    },
    "AddCustomerMessageJson": {
      "required": [
        "message",
        "from_department",
        "from_person"
      ],
      "properties": {
        "message": {
          "type": "string",
          "example": "String"
        },
        "from_department": {
          "type": "string",
          "example": "String"
        },
        "from_person": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "TransactionRequestBodyFreeFormJSON": {
      "required": [
        "value",
        "description"
      ],
      "properties": {
        "value": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        },
        "description": {
          "type": "string",
          "example": "This is a FREE_FORM Transaction Request"
        }
      }
    },
    "BanksJSON": {
      "required": [
        "banks"
      ],
      "properties": {
        "banks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BankJSON"
          }
        }
      }
    },
    "PhysicalCardsJsonV310": {
      "required": [
        "cards"
      ],
      "properties": {
        "cards": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PhysicalCardJsonV310"
          }
        }
      }
    },
    "PostCustomerAddressJsonV310": {
      "required": [
        "city",
        "line_2",
        "state",
        "tags",
        "postcode",
        "county",
        "country_code",
        "status",
        "line_3",
        "line_1"
      ],
      "properties": {
        "city": {
          "type": "string",
          "example": "Berlin"
        },
        "line_2": {
          "type": "string",
          "example": "The Place"
        },
        "state": {
          "type": "string",
          "example": "Brandenburg"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "postcode": {
          "type": "string",
          "example": "13359"
        },
        "county": {
          "type": "string",
          "example": ""
        },
        "country_code": {
          "type": "string",
          "example": "DE"
        },
        "status": {
          "type": "string",
          "example": "OK"
        },
        "line_3": {
          "type": "string",
          "example": "The Hill"
        },
        "line_1": {
          "type": "string",
          "example": "No 1 the Road"
        }
      }
    },
    "AmountOfMoneyJsonV121": {
      "required": [
        "currency",
        "amount"
      ],
      "properties": {
        "currency": {
          "type": "string",
          "example": "EUR"
        },
        "amount": {
          "type": "string",
          "example": "10"
        }
      }
    },
    "PutUpdateCustomerNumberJsonV310": {
      "required": [
        "customer_number"
      ],
      "properties": {
        "customer_number": {
          "type": "string",
          "example": "5987953"
        }
      }
    },
    "ProductCollectionJsonV310": {
      "required": [
        "collection_code",
        "product_code",
        "items"
      ],
      "properties": {
        "collection_code": {
          "type": "string",
          "example": "C"
        },
        "product_code": {
          "type": "string",
          "example": "D"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductCollectionItemJsonV310"
          }
        }
      }
    },
    "WarehouseJSON": {
      "required": [
        "property",
        "value"
      ],
      "properties": {
        "property": {
          "type": "string",
          "example": "String"
        },
        "value": {
          "type": "string",
          "example": "ElasticSearch"
        }
      }
    },
    "PostCustomerNumberJsonV310": {
      "required": [
        "customer_number"
      ],
      "properties": {
        "customer_number": {
          "type": "string",
          "example": "5987953"
        }
      }
    },
    "TransactionRequestWithChargeJSONs210": {
      "required": [
        "transaction_requests_with_charges"
      ],
      "properties": {
        "transaction_requests_with_charges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionRequestWithChargeJSON210"
          }
        }
      }
    },
    "LicenseJsonV140": {
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": "5"
        },
        "name": {
          "type": "string",
          "example": "TESOBE"
        }
      }
    },
    "AvailableRolesJSON": {
      "required": [
        "roles"
      ],
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AvailableRoleJSON"
          }
        }
      }
    },
    "CounterpartyMetadataJson": {
      "required": [
        "public_alias",
        "physical_location",
        "image_url",
        "private_alias",
        "url",
        "more_info",
        "corporate_location",
        "open_corporates_url"
      ],
      "properties": {
        "public_alias": {
          "type": "string",
          "example": "String"
        },
        "physical_location": {
          "$ref": "#/definitions/LocationJsonV210"
        },
        "image_url": {
          "type": "string",
          "example": "String"
        },
        "private_alias": {
          "type": "string",
          "example": "String"
        },
        "url": {
          "type": "string",
          "example": "String"
        },
        "more_info": {
          "type": "string",
          "example": "String"
        },
        "corporate_location": {
          "$ref": "#/definitions/LocationJsonV210"
        },
        "open_corporates_url": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "CorporateLocationJSON": {
      "required": [
        "corporate_location"
      ],
      "properties": {
        "corporate_location": {
          "$ref": "#/definitions/LocationPlainJSON"
        }
      }
    },
    "AccountWebhookJson": {
      "required": [
        "created_by_user_id",
        "is_active",
        "url",
        "trigger_name",
        "http_protocol",
        "account_webhook_id",
        "http_method",
        "bank_id",
        "account_id"
      ],
      "properties": {
        "created_by_user_id": {
          "type": "string",
          "example": "9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1"
        },
        "is_active": {
          "type": "boolean",
          "example": "true"
        },
        "url": {
          "type": "string",
          "example": "https://localhost.openbankproject.com"
        },
        "trigger_name": {
          "type": "string",
          "example": "OnBalanceChange"
        },
        "http_protocol": {
          "type": "string",
          "example": "HTTP/1.1"
        },
        "account_webhook_id": {
          "type": "string",
          "example": "613c83ea-80f9-4560-8404-b9cd4ec42a7f"
        },
        "http_method": {
          "type": "string",
          "example": "POST"
        },
        "bank_id": {
          "type": "string",
          "example": "GENODEM1GLS"
        },
        "account_id": {
          "type": "string",
          "example": "8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0"
        }
      }
    },
    "ProductsJsonV310": {
      "required": [
        "products"
      ],
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductJsonV310"
          }
        }
      }
    },
    "AccountApplicationJson": {
      "required": [
        "product_code"
      ],
      "properties": {
        "product_code": {
          "type": "string",
          "example": "saveing1"
        },
        "user_id": {
          "type": "string",
          "example": "9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1"
        },
        "customer_id": {
          "type": "string",
          "example": "7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh"
        }
      }
    },
    "GlossaryDescriptionJsonV300": {
      "required": [
        "markdown",
        "html"
      ],
      "properties": {
        "markdown": {
          "type": "string",
          "example": "String"
        },
        "html": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "TransactionRequestTransferToAccount": {
      "required": [
        "description",
        "future_date",
        "to",
        "transfer_type",
        "value"
      ],
      "properties": {
        "description": {
          "type": "string",
          "example": "String"
        },
        "future_date": {
          "type": "string",
          "example": "20181230"
        },
        "to": {
          "$ref": "#/definitions/ToAccountTransferToAccount"
        },
        "transfer_type": {
          "type": "string",
          "example": "String"
        },
        "value": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        }
      }
    },
    "UpdateViewJSON": {
      "required": [
        "description",
        "is_public",
        "hide_metadata_if_alias_used",
        "which_alias_to_use",
        "metadata_view",
        "allowed_actions"
      ],
      "properties": {
        "description": {
          "type": "string",
          "example": "this is for family"
        },
        "is_public": {
          "type": "boolean",
          "example": "true"
        },
        "hide_metadata_if_alias_used": {
          "type": "boolean",
          "example": "true"
        },
        "which_alias_to_use": {
          "type": "string",
          "example": "family"
        },
        "metadata_view": {
          "type": "string",
          "example": "owner"
        },
        "allowed_actions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TopConsumerJson": {
      "required": [
        "count",
        "consumer_id",
        "app_name",
        "developer_email"
      ],
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "example": "7076"
        },
        "consumer_id": {
          "type": "string",
          "example": "7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh"
        },
        "app_name": {
          "type": "string",
          "example": "Api Explorer"
        },
        "developer_email": {
          "type": "string",
          "example": "eveline@example.com"
        }
      }
    },
    "ResourceUserJSON": {
      "required": [
        "provider",
        "email",
        "username",
        "provider_id",
        "user_id"
      ],
      "properties": {
        "provider": {
          "type": "string",
          "example": "http://127.0.0.1:8080"
        },
        "email": {
          "type": "string",
          "example": "eveline@example.com"
        },
        "username": {
          "type": "string",
          "example": "felixsmith"
        },
        "provider_id": {
          "type": "string",
          "example": "Chris"
        },
        "user_id": {
          "type": "string",
          "example": "9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1"
        }
      }
    },
    "OtherAccountJsonV300": {
      "required": [
        "account_routings",
        "holder",
        "id",
        "metadata",
        "bank_routing"
      ],
      "properties": {
        "account_routings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountRoutingJsonV121"
          }
        },
        "holder": {
          "$ref": "#/definitions/AccountHolderJSON"
        },
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        },
        "metadata": {
          "$ref": "#/definitions/OtherAccountMetadataJSON"
        },
        "bank_routing": {
          "$ref": "#/definitions/BankRoutingJsonV121"
        }
      }
    },
    "AccountsBalancesV310Json": {
      "required": [
        "accounts",
        "overall_balance",
        "overall_balance_date"
      ],
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountBalanceV310"
          }
        },
        "overall_balance": {
          "$ref": "#/definitions/AmountOfMoney"
        },
        "overall_balance_date": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        }
      }
    },
    "PostKycDocumentJSON": {
      "required": [
        "number",
        "customer_number",
        "issue_date",
        "type",
        "issue_place",
        "expiry_date"
      ],
      "properties": {
        "number": {
          "type": "string",
          "example": "12345"
        },
        "customer_number": {
          "type": "string",
          "example": "5987953"
        },
        "issue_date": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "type": {
          "type": "string",
          "example": "passport"
        },
        "issue_place": {
          "type": "string",
          "example": "Berlin"
        },
        "expiry_date": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        }
      }
    },
    "TransactionMetadataJSON": {
      "required": [
        "narrative",
        "tags",
        "where",
        "images",
        "comments"
      ],
      "properties": {
        "narrative": {
          "type": "string",
          "example": "NONE"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionTagJSON"
          }
        },
        "where": {
          "$ref": "#/definitions/LocationJSONV121"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionImageJSON"
          }
        },
        "comments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionCommentJSON"
          }
        }
      }
    },
    "TransactionRequestTypeJsonV140": {
      "required": [
        "value",
        "charge"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "10"
        },
        "charge": {
          "$ref": "#/definitions/TransactionRequestChargeJsonV140"
        }
      }
    },
    "KycStatusesJSON": {
      "required": [
        "statuses"
      ],
      "properties": {
        "statuses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KycStatusJSON"
          }
        }
      }
    },
    "OpenCorporateUrlJSON": {
      "required": [
        "open_corporates_URL"
      ],
      "properties": {
        "open_corporates_URL": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "RateLimitingInfoV310": {
      "required": [
        "enabled",
        "technology",
        "service_available",
        "is_active"
      ],
      "properties": {
        "enabled": {
          "type": "boolean",
          "example": "true"
        },
        "technology": {
          "type": "string",
          "example": "REDIS"
        },
        "service_available": {
          "type": "boolean",
          "example": "true"
        },
        "is_active": {
          "type": "boolean",
          "example": "true"
        }
      }
    },
    "EntitlementRequestsJSON": {
      "required": [
        "entitlement_requests"
      ],
      "properties": {
        "entitlement_requests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntitlementRequestJSON"
          }
        }
      }
    },
    "PinResetJSON": {
      "required": [
        "requested_date",
        "reason_requested"
      ],
      "properties": {
        "requested_date": {
          "type": "string",
          "format": "date",
          "example": "2020-02-17T10:52:55Z"
        },
        "reason_requested": {
          "type": "string",
          "example": "GOOD_SECURITY_PRACTICE"
        }
      }
    },
    "CreateEntitlementJSON": {
      "required": [
        "bank_id",
        "role_name"
      ],
      "properties": {
        "bank_id": {
          "type": "string",
          "example": "GENODEM1GLS"
        },
        "role_name": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "AccountWebhookPutJson": {
      "required": [
        "account_webhook_id",
        "is_active"
      ],
      "properties": {
        "account_webhook_id": {
          "type": "string",
          "example": "fc23a7e2-7dd2-4bdf-a0b4-ae31232a4762"
        },
        "is_active": {
          "type": "string",
          "example": "true"
        }
      }
    },
    "CustomerAddressesJsonV310": {
      "required": [
        "addresses"
      ],
      "properties": {
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerAddressJsonV310"
          }
        }
      }
    },
    "CustomerJsonV300": {
      "required": [
        "customer_id",
        "name_suffix",
        "email",
        "branch_id",
        "mobile_phone_number",
        "customer_number",
        "highest_education_attained",
        "dob_of_dependants",
        "bank_id",
        "date_of_birth",
        "last_ok_date",
        "employment_status",
        "legal_name",
        "title",
        "face_image",
        "dependants",
        "relationship_status",
        "kyc_status"
      ],
      "properties": {
        "customer_id": {
          "type": "string",
          "example": "7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh"
        },
        "name_suffix": {
          "type": "string",
          "example": "Sr"
        },
        "email": {
          "type": "string",
          "example": "eveline@example.com"
        },
        "branch_id": {
          "type": "string",
          "example": "DERBY6"
        },
        "mobile_phone_number": {
          "type": "string",
          "example": "+44 07972 444 876"
        },
        "customer_number": {
          "type": "string",
          "example": "5987953"
        },
        "highest_education_attained": {
          "type": "string",
          "example": "Master"
        },
        "dob_of_dependants": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bank_id": {
          "type": "string",
          "example": "GENODEM1GLS"
        },
        "date_of_birth": {
          "type": "string",
          "example": "19900101"
        },
        "credit_rating": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerCreditRatingJSON"
          }
        },
        "last_ok_date": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "employment_status": {
          "type": "string",
          "example": "worker"
        },
        "legal_name": {
          "type": "string",
          "example": "Eveline Tripman"
        },
        "credit_limit": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AmountOfMoneyJsonV121"
          }
        },
        "title": {
          "type": "string",
          "example": "Dr."
        },
        "face_image": {
          "$ref": "#/definitions/CustomerFaceImageJson"
        },
        "dependants": {
          "type": "integer",
          "format": "int32",
          "example": "10"
        },
        "relationship_status": {
          "type": "string",
          "example": "single"
        },
        "kyc_status": {
          "type": "boolean",
          "example": "true"
        }
      }
    },
    "CounterpartyIdJson": {
      "required": [
        "counterparty_id"
      ],
      "properties": {
        "counterparty_id": {
          "type": "string",
          "example": "123456"
        }
      }
    },
    "AccountWebhookPostJson": {
      "required": [
        "is_active",
        "url",
        "trigger_name",
        "http_protocol",
        "http_method",
        "account_id"
      ],
      "properties": {
        "is_active": {
          "type": "string",
          "example": "true"
        },
        "url": {
          "type": "string",
          "example": "https://localhost.openbankproject.com"
        },
        "trigger_name": {
          "type": "string",
          "example": "OnBalanceChange"
        },
        "http_protocol": {
          "type": "string",
          "example": "HTTP/1.1"
        },
        "http_method": {
          "type": "string",
          "example": "POST"
        },
        "account_id": {
          "type": "string",
          "example": "8ca8a7e4-6d02-40e3-a129-0b2bf89de9f0"
        }
      }
    },
    "OrderObjectJson": {
      "required": [
        "order_id",
        "number_of_checkbooks",
        "first_check_number",
        "order_date",
        "status",
        "shipping_code",
        "distribution_channel"
      ],
      "properties": {
        "order_id": {
          "type": "string",
          "example": "xjksajfkj"
        },
        "number_of_checkbooks": {
          "type": "string",
          "example": "4"
        },
        "first_check_number": {
          "type": "string",
          "example": "5165276"
        },
        "order_date": {
          "type": "string",
          "example": "07082013"
        },
        "status": {
          "type": "string",
          "example": "2"
        },
        "shipping_code": {
          "type": "string",
          "example": "1"
        },
        "distribution_channel": {
          "type": "string",
          "example": "1201"
        }
      }
    },
    "AdapterImplementationJson": {
      "required": [
        "group",
        "suggested_order"
      ],
      "properties": {
        "group": {
          "type": "string",
          "example": "CORE"
        },
        "suggested_order": {
          "type": "integer",
          "format": "int32",
          "example": "3"
        }
      }
    },
    "ProductTreeJsonV310": {
      "required": [
        "name",
        "description",
        "more_info_url",
        "super_family",
        "code",
        "bank_id",
        "meta",
        "details",
        "category",
        "family"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "product name"
        },
        "description": {
          "type": "string",
          "example": "Description"
        },
        "parent_product": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductTreeJsonV310"
          }
        },
        "more_info_url": {
          "type": "string",
          "example": "www.example.com/prod1/more-info.html"
        },
        "super_family": {
          "type": "string",
          "example": "super family"
        },
        "code": {
          "type": "string",
          "example": "PARENT_CODE"
        },
        "bank_id": {
          "type": "string",
          "example": "testBank2"
        },
        "meta": {
          "$ref": "#/definitions/MetaJsonV140"
        },
        "details": {
          "type": "string",
          "example": "Details"
        },
        "category": {
          "type": "string",
          "example": "category"
        },
        "family": {
          "type": "string",
          "example": "family"
        }
      }
    },
    "AccountTagsJSON": {
      "required": [
        "tags"
      ],
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountTagJSON"
          }
        }
      }
    },
    "ImageUrlJSON": {
      "required": [
        "image_URL"
      ],
      "properties": {
        "image_URL": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "UserAuthContextUpdateJson": {
      "required": [
        "user_auth_context_update_id",
        "user_id",
        "key",
        "status",
        "value"
      ],
      "properties": {
        "user_auth_context_update_id": {
          "type": "string",
          "example": "613c83ea-80f9-4560-8404-b9cd4ec42a7f"
        },
        "user_id": {
          "type": "string",
          "example": "9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1"
        },
        "key": {
          "type": "string",
          "example": "CUSTOMER_NUMBER"
        },
        "status": {
          "type": "string",
          "example": "INITIATED"
        },
        "value": {
          "type": "string",
          "example": "78987432"
        }
      }
    },
    "AccountApplicationsJsonV310": {
      "required": [
        "account_applications"
      ],
      "properties": {
        "account_applications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountApplicationResponseJson"
          }
        }
      }
    },
    "PutUpdateCustomerBranchJsonV310": {
      "required": [
        "branch_id"
      ],
      "properties": {
        "branch_id": {
          "type": "string",
          "example": "123"
        }
      }
    },
    "CustomerCreditRatingJSON": {
      "required": [
        "rating",
        "source"
      ],
      "properties": {
        "rating": {
          "type": "string",
          "example": "OBP"
        },
        "source": {
          "type": "string",
          "example": "OBP"
        }
      }
    },
    "TransactionRequestChargeJsonV140": {
      "required": [
        "summary",
        "value"
      ],
      "properties": {
        "summary": {
          "type": "string",
          "example": "The bank fixed charge"
        },
        "value": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        }
      }
    },
    "PostTransactionCommentJSON": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "BranchJsonV300": {
      "required": [
        "name",
        "phone_number",
        "location",
        "branch_type",
        "branch_routing",
        "drive_up",
        "more_info",
        "bank_id",
        "id",
        "meta",
        "lobby",
        "accessibleFeatures",
        "address",
        "is_accessible"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "Branch by the Lake"
        },
        "phone_number": {
          "type": "string",
          "example": "+381631954907"
        },
        "location": {
          "$ref": "#/definitions/LocationJsonV140"
        },
        "branch_type": {
          "type": "string",
          "example": "Full service store"
        },
        "branch_routing": {
          "$ref": "#/definitions/BranchRoutingJsonV141"
        },
        "drive_up": {
          "$ref": "#/definitions/DriveUpJsonV330"
        },
        "more_info": {
          "type": "string",
          "example": "short walk to the lake from here"
        },
        "bank_id": {
          "type": "string",
          "example": "bank-id-123"
        },
        "id": {
          "type": "string",
          "example": "branch-id-123"
        },
        "meta": {
          "$ref": "#/definitions/MetaJsonV140"
        },
        "lobby": {
          "$ref": "#/definitions/LobbyJsonV330"
        },
        "accessibleFeatures": {
          "type": "string",
          "example": "wheelchair, atm usuable by the visually impaired"
        },
        "address": {
          "$ref": "#/definitions/AddressJsonV300"
        },
        "is_accessible": {
          "type": "string",
          "example": "true"
        }
      }
    },
    "ElasticSearchJsonV300": {
      "required": [
        "query"
      ],
      "properties": {
        "query": {
          "$ref": "#/definitions/ElasticSearchQuery"
        }
      }
    },
    "ThisAccountJsonV300": {
      "required": [
        "id",
        "bank_routing",
        "account_routings",
        "holders"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": "String"
        },
        "bank_routing": {
          "$ref": "#/definitions/BankRoutingJsonV121"
        },
        "account_routings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountRoutingJsonV121"
          }
        },
        "holders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountHolderJSON"
          }
        }
      }
    },
    "PortJSON": {
      "required": [
        "property",
        "value"
      ],
      "properties": {
        "property": {
          "type": "string",
          "example": "default"
        },
        "value": {
          "type": "string",
          "example": "8080"
        }
      }
    },
    "BasicAccountJSON": {
      "required": [
        "id",
        "label",
        "bank_id",
        "views_available"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": "8ca8a7e4-6d02-48e3-a029-0b2bf89de9f0"
        },
        "label": {
          "type": "string",
          "example": "NoneLabel"
        },
        "bank_id": {
          "type": "string",
          "example": "GENODEM1GLS"
        },
        "views_available": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BasicViewJson"
          }
        }
      }
    },
    "OrderJson": {
      "required": [
        "order"
      ],
      "properties": {
        "order": {
          "$ref": "#/definitions/OrderObjectJson"
        }
      }
    },
    "AdapterInfoJsonV300": {
      "required": [
        "name",
        "version",
        "git_commit",
        "date"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "String"
        },
        "version": {
          "type": "string",
          "example": "String"
        },
        "git_commit": {
          "type": "string",
          "example": "String"
        },
        "date": {
          "type": "string",
          "example": "2013-01-21T23:08:00Z"
        }
      }
    },
    "AmountOfMoney": {
      "required": [
        "currency",
        "amount"
      ],
      "properties": {
        "currency": {
          "type": "string",
          "example": "EUR"
        },
        "amount": {
          "type": "string",
          "example": "100"
        }
      }
    },
    "CoreAccountJson": {
      "required": [
        "account_routings",
        "label",
        "account_type",
        "bank_id",
        "id",
        "views"
      ],
      "properties": {
        "account_routings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountRoutingJsonV121"
          }
        },
        "label": {
          "type": "string",
          "example": "String"
        },
        "account_type": {
          "type": "string",
          "example": "330"
        },
        "bank_id": {
          "type": "string",
          "example": "GENODEM1GLS"
        },
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        },
        "views": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ViewBasicV300"
          }
        }
      }
    },
    "SuccessMessage": {
      "required": [
        "success"
      ],
      "properties": {
        "success": {
          "type": "string",
          "example": "Success"
        }
      }
    },
    "PostTransactionImageJSON": {
      "required": [
        "label",
        "URL"
      ],
      "properties": {
        "label": {
          "type": "string",
          "example": "String"
        },
        "URL": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "UserCustomerLinkJson": {
      "required": [
        "is_active",
        "customer_id",
        "user_id",
        "date_inserted",
        "user_customer_link_id"
      ],
      "properties": {
        "is_active": {
          "type": "boolean",
          "example": "true"
        },
        "customer_id": {
          "type": "string",
          "example": "7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh"
        },
        "user_id": {
          "type": "string",
          "example": "9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1"
        },
        "date_inserted": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "user_customer_link_id": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "KycDocumentJSON": {
      "required": [
        "number",
        "customer_id",
        "customer_number",
        "issue_date",
        "bank_id",
        "id",
        "type",
        "issue_place",
        "expiry_date"
      ],
      "properties": {
        "number": {
          "type": "string",
          "example": "PlaceholderString"
        },
        "customer_id": {
          "type": "string",
          "example": "7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh"
        },
        "customer_number": {
          "type": "string",
          "example": "5987953"
        },
        "issue_date": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "bank_id": {
          "type": "string",
          "example": "GENODEM1GLS"
        },
        "id": {
          "type": "string",
          "example": "PlaceholderString"
        },
        "type": {
          "type": "string",
          "example": "PlaceholderString"
        },
        "issue_place": {
          "type": "string",
          "example": "PlaceholderString"
        },
        "expiry_date": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        }
      }
    },
    "TransactionRequestBodyJsonV200": {
      "required": [
        "to",
        "value",
        "description"
      ],
      "properties": {
        "to": {
          "$ref": "#/definitions/TransactionRequestAccountJsonV140"
        },
        "value": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        },
        "description": {
          "type": "string",
          "example": "this is for work"
        }
      }
    },
    "UpdateAccountRequestJsonV310": {
      "required": [
        "label",
        "type",
        "branch_id",
        "account_routing"
      ],
      "properties": {
        "label": {
          "type": "string",
          "example": "Label"
        },
        "type": {
          "type": "string",
          "example": "CURRENT"
        },
        "branch_id": {
          "type": "string",
          "example": "1234"
        },
        "account_routing": {
          "$ref": "#/definitions/AccountRoutingJsonV121"
        }
      }
    },
    "IbanJson": {
      "required": [
        "iban"
      ],
      "properties": {
        "iban": {
          "type": "string",
          "example": "123"
        }
      }
    },
    "ProductAttributeJson": {
      "required": [
        "name",
        "type",
        "value"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "OVERDRAFT_START_DATE"
        },
        "type": {
          "type": "string",
          "example": "DATE_WITH_DAY"
        },
        "value": {
          "type": "string",
          "example": "2012-04-23"
        }
      }
    },
    "PostTransactionWhereJSON": {
      "required": [
        "where"
      ],
      "properties": {
        "where": {
          "$ref": "#/definitions/LocationPlainJSON"
        }
      }
    },
    "TransactionTypesJsonV200": {
      "required": [
        "transaction_types"
      ],
      "properties": {
        "transaction_types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionTypeJsonV200"
          }
        }
      }
    },
    "CreditLimitRequestJson": {
      "required": [
        "requested_current_rate_amount1",
        "temporary_credit_documentation",
        "requested_current_valid_end_date",
        "temporary_requested_current_amount",
        "requested_current_rate_amount2",
        "requested_temporary_valid_end_date",
        "current_credit_documentation"
      ],
      "properties": {
        "requested_current_rate_amount1": {
          "type": "string",
          "example": "String"
        },
        "temporary_credit_documentation": {
          "type": "string",
          "example": "String"
        },
        "requested_current_valid_end_date": {
          "type": "string",
          "example": "String"
        },
        "temporary_requested_current_amount": {
          "type": "string",
          "example": "String"
        },
        "requested_current_rate_amount2": {
          "type": "string",
          "example": "String"
        },
        "requested_temporary_valid_end_date": {
          "type": "string",
          "example": "String"
        },
        "current_credit_documentation": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "EmptyElasticSearch": {
      "properties": {
        "none": {
          "type": "string",
          "example": ""
        }
      }
    },
    "BankJSONV220": {
      "required": [
        "national_identifier",
        "full_name",
        "swift_bic",
        "logo_url",
        "id",
        "short_name",
        "bank_routing",
        "website_url"
      ],
      "properties": {
        "national_identifier": {
          "type": "string",
          "example": "UK97ZZZ1234567890"
        },
        "full_name": {
          "type": "string",
          "example": "uk"
        },
        "swift_bic": {
          "type": "string",
          "example": "IIIGGB22"
        },
        "logo_url": {
          "type": "string",
          "example": "https://static.openbankproject.com/images/sandbox/bank_x.png"
        },
        "id": {
          "type": "string",
          "example": "gh.29.uk.x"
        },
        "short_name": {
          "type": "string",
          "example": "uk"
        },
        "bank_routing": {
          "$ref": "#/definitions/BankRoutingJsonV121"
        },
        "website_url": {
          "type": "string",
          "example": "https://www.example.com"
        }
      }
    },
    "TransactionRequestBodySEPAJSON": {
      "required": [
        "description",
        "to",
        "charge_policy",
        "value"
      ],
      "properties": {
        "description": {
          "type": "string",
          "example": "This is a SEPA Transaction Request"
        },
        "future_date": {
          "type": "string",
          "example": "20881230"
        },
        "to": {
          "$ref": "#/definitions/IbanJson"
        },
        "charge_policy": {
          "type": "string",
          "example": "SHARED"
        },
        "value": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        }
      }
    },
    "ViewIdsJson": {
      "required": [
        "views"
      ],
      "properties": {
        "views": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CoreCounterpartyJsonV300": {
      "required": [
        "id",
        "holder",
        "bank_routing",
        "account_routings"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": "5995d6a2-01b3-423c-a173-5481df49bdaf"
        },
        "holder": {
          "$ref": "#/definitions/AccountHolderJSON"
        },
        "bank_routing": {
          "$ref": "#/definitions/BankRoutingJsonV121"
        },
        "account_routings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountRoutingJsonV121"
          }
        }
      }
    },
    "TransactionRequestWithChargeJson": {
      "required": [
        "challenge",
        "start_date",
        "id",
        "end_date",
        "status",
        "from",
        "details",
        "charge",
        "type",
        "transaction_ids"
      ],
      "properties": {
        "challenge": {
          "$ref": "#/definitions/ChallengeJsonV140"
        },
        "start_date": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "id": {
          "type": "string",
          "example": "82f92531-9c63-4246-abfc-96c20ec46188"
        },
        "end_date": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "status": {
          "type": "string",
          "example": "COMPLETED"
        },
        "from": {
          "$ref": "#/definitions/TransactionRequestAccountJsonV140"
        },
        "details": {
          "$ref": "#/definitions/TransactionRequestBody"
        },
        "charge": {
          "$ref": "#/definitions/TransactionRequestChargeJsonV200"
        },
        "type": {
          "type": "string",
          "example": "SANDBOX_TAN"
        },
        "transaction_ids": {
          "type": "string",
          "example": "666666-9c63-4246-abfc-96c20ec46188"
        }
      }
    },
    "TransactionTypeJsonV200": {
      "required": [
        "description",
        "short_code",
        "bank_id",
        "id",
        "charge",
        "summary"
      ],
      "properties": {
        "description": {
          "type": "string",
          "example": "PlaceholderString"
        },
        "short_code": {
          "type": "string",
          "example": "PlaceholderString"
        },
        "bank_id": {
          "type": "string",
          "example": "GENODEM1GLS"
        },
        "id": {
          "$ref": "#/definitions/TransactionTypeId"
        },
        "charge": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        },
        "summary": {
          "type": "string",
          "example": "PlaceholderString"
        }
      }
    },
    "PhysicalCardWithAttributesJsonV310": {
      "required": [
        "allows",
        "expires_date",
        "networks",
        "customer_id",
        "issue_number",
        "replacement",
        "enabled",
        "collected",
        "card_number",
        "technology",
        "cancelled",
        "bank_id",
        "card_id",
        "pin_reset",
        "serial_number",
        "account",
        "valid_from_date",
        "card_attributes",
        "name_on_card",
        "posted",
        "card_type",
        "on_hot_list"
      ],
      "properties": {
        "allows": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expires_date": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "networks": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customer_id": {
          "type": "string",
          "example": "7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh"
        },
        "issue_number": {
          "type": "string",
          "example": "1"
        },
        "replacement": {
          "$ref": "#/definitions/ReplacementJSON"
        },
        "enabled": {
          "type": "boolean",
          "example": "true"
        },
        "collected": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "card_number": {
          "type": "string",
          "example": "364435172576215"
        },
        "technology": {
          "type": "string",
          "example": "technologyString1"
        },
        "cancelled": {
          "type": "boolean",
          "example": "true"
        },
        "bank_id": {
          "type": "string",
          "example": "GENODEM1GLS"
        },
        "card_id": {
          "type": "string",
          "example": "36f8a9e6-c2b1-407a-8bd0-421b7119307e "
        },
        "pin_reset": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PinResetJSON"
          }
        },
        "serial_number": {
          "type": "string",
          "example": "1324234"
        },
        "account": {
          "$ref": "#/definitions/AccountBasicV310"
        },
        "valid_from_date": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "card_attributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAttributeCommons"
          }
        },
        "name_on_card": {
          "type": "string",
          "example": "SusanSmith"
        },
        "posted": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "card_type": {
          "type": "string",
          "example": "Credit"
        },
        "on_hot_list": {
          "type": "boolean",
          "example": "true"
        }
      }
    },
    "AccountHeldJson": {
      "required": [
        "id",
        "bank_id",
        "number",
        "account_routings"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": "12314"
        },
        "bank_id": {
          "type": "string",
          "example": "123"
        },
        "number": {
          "type": "string",
          "example": "123"
        },
        "account_routings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountRoutingJsonV121"
          }
        }
      }
    },
    "ProductJsonV310": {
      "required": [
        "name",
        "description",
        "more_info_url",
        "super_family",
        "code",
        "bank_id",
        "meta",
        "details",
        "category",
        "family",
        "parent_product_code"
      ],
      "properties": {
        "name": {
          "type": "string",
          "example": "product name"
        },
        "description": {
          "type": "string",
          "example": "Description"
        },
        "more_info_url": {
          "type": "string",
          "example": "www.example.com/prod1/more-info.html"
        },
        "super_family": {
          "type": "string",
          "example": "super family"
        },
        "code": {
          "type": "string",
          "example": "product_code"
        },
        "product_attributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductAttributeResponseWithoutBankIdJson"
          }
        },
        "bank_id": {
          "type": "string",
          "example": "GENODEM1GLS"
        },
        "meta": {
          "$ref": "#/definitions/MetaJsonV140"
        },
        "details": {
          "type": "string",
          "example": "Details"
        },
        "category": {
          "type": "string",
          "example": "category"
        },
        "family": {
          "type": "string",
          "example": "family"
        },
        "parent_product_code": {
          "type": "string",
          "example": "parent"
        }
      }
    },
    "PostStandingOrderJsonV400": {
      "required": [
        "date_starts",
        "customer_id",
        "user_id",
        "amount",
        "counterparty_id",
        "when"
      ],
      "properties": {
        "date_starts": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "customer_id": {
          "type": "string",
          "example": "7uy8a7e4-6d02-40e3-a129-0b2bf89de8uh"
        },
        "date_signed": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "user_id": {
          "type": "string",
          "example": "9ca9a7e4-6d02-40e3-a129-0b2bf89de9b1"
        },
        "amount": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        },
        "date_expires": {
          "type": "string",
          "format": "date",
          "example": "2017-09-19T00:00:00Z"
        },
        "counterparty_id": {
          "type": "string",
          "example": "9fg8a7e4-6d02-40e3-a129-0b2bf89de8uh"
        },
        "when": {
          "$ref": "#/definitions/When"
        }
      }
    },
    "AccountRoutingJsonV121": {
      "required": [
        "scheme",
        "address"
      ],
      "properties": {
        "scheme": {
          "type": "string",
          "example": "AccountNumber"
        },
        "address": {
          "type": "string",
          "example": "4930396"
        }
      }
    },
    "EnergySource400": {
      "required": [
        "organisation",
        "organisation_website"
      ],
      "properties": {
        "organisation": {
          "type": "string",
          "example": "Stromio"
        },
        "organisation_website": {
          "type": "string",
          "example": "https://www.stromio.de/"
        }
      }
    },
    "PutProductCollectionsV310": {
      "required": [
        "parent_product_code",
        "children_product_codes"
      ],
      "properties": {
        "parent_product_code": {
          "type": "string",
          "example": "A"
        },
        "children_product_codes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TransactionRequestChargeJsonV200": {
      "required": [
        "summary",
        "value"
      ],
      "properties": {
        "summary": {
          "type": "string",
          "example": "Rent the flat"
        },
        "value": {
          "$ref": "#/definitions/AmountOfMoneyJsonV121"
        }
      }
    },
    "MoreInfoJSON": {
      "required": [
        "more_info"
      ],
      "properties": {
        "more_info": {
          "type": "string",
          "example": "String"
        }
      }
    },
    "PostCounterpartyJSON": {
      "required": [
        "other_account_routing_address",
        "other_account_routing_scheme",
        "name",
        "other_account_secondary_routing_address",
        "is_beneficiary",
        "description",
        "other_branch_routing_address",
        "bespoke",
[...]
